apiVersion: v1
kind: DeploymentConfig
metadata:
  name: datalinkingwebose21
  namespace: linking-project-dev-2-1-0
  selfLink: >-
    /oapi/v1/namespaces/linking-project-dev-2-1-0/deploymentconfigs/datalinkingwebose21
  uid: 42a82d99-4cfe-11e7-a97d-4af56a6b7ca1
  resourceVersion: '437755'
  generation: 246
  creationTimestamp: '2017-06-09T10:27:38Z'
  labels:
    app: datalinkingwebose21
  annotations:
    openshift.io/generated-by: OpenShiftWebConsole
spec:
  strategy:
    type: Rolling
    rollingParams:
      updatePeriodSeconds: 1
      intervalSeconds: 1
      timeoutSeconds: 600
      maxUnavailable: 25%
      maxSurge: 25%
    resources: {}
    activeDeadlineSeconds: 21600
  triggers:
    - type: ConfigChange
    - type: ImageChange
      imageChangeParams:
        automatic: true
        containerNames:
          - datalinkingwebose21
        from:
          kind: ImageStreamTag
          namespace: linking-project
          name: 'datalinking_web_ose2:latest'
        lastTriggeredImage: >-
          172.30.1.1:5000/linking-project/datalinking_web_ose2@sha256:600484ef145d4f4b855891a18f62bbf4e56e3d2456d780584b28f7c22c339662
  replicas: 1
  test: false
  selector:
    app: datalinkingwebose21
    deploymentconfig: datalinkingwebose21
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: datalinkingwebose21
        deploymentconfig: datalinkingwebose21
      annotations:
        openshift.io/generated-by: OpenShiftWebConsole
    spec:
      containers:
        - name: datalinkingwebose21
          image: >-
            172.30.1.1:5000/linking-project/datalinking_web_ose2@sha256:600484ef145d4f4b855891a18f62bbf4e56e3d2456d780584b28f7c22c339662
          command:
            - /bin/bash
            - start-dev.sh
          ports:
            - name: web
              containerPort: 8080
              protocol: TCP
          env:
            - name: LINK_DB_USER
              value: postgres
            - name: LINK_DB_HOST
              value: postgresql2.linking-project-dev-2-1-0.svc
            - name: LINK_DB_PORT
              value: '5432'
            - name: LINK_DB_SERVICE
              value: postgres
            - name: LINK_DB_PASSWORD
              value: postgres
            - name: ALLOWED_HOST
              value: datalinkingwebose21v2-linking-project-dev-2-1-0.10.0.75.2.xip.io
            - name: DJANGO_EMAIL_BACKEND
              value: django.core.mail.backends.filebased.EmailBackend
            - name: DJANGO_EMAIL_FILE_PATH
              value: /tmp/django-email-dev
            - name: CELERY_BROKER_URL
              value: 'redis://redis3.linking-project-dev-2-1-0.svc:6379'
          resources: {}
          terminationMessagePath: /dev/termination-log
          imagePullPolicy: IfNotPresent
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      dnsPolicy: ClusterFirst
      securityContext:
        fsGroup: 999
status:
  latestVersion: 93
  observedGeneration: 246
  replicas: 1
  updatedReplicas: 1
  availableReplicas: 1
  unavailableReplicas: 0
  details:
    message: config change
    causes:
      - type: ConfigChange
  conditions:
    - type: Progressing
      status: 'True'
      lastUpdateTime: '2017-06-15T23:16:05Z'
      lastTransitionTime: '2017-06-15T23:16:02Z'
      reason: NewReplicationControllerAvailable
      message: replication controller "datalinkingwebose21-93" successfully rolled out
    - type: Available
      status: 'True'
      lastUpdateTime: '2017-06-16T10:13:21Z'
      lastTransitionTime: '2017-06-16T10:13:21Z'
      message: Deployment config has minimum availability.
  readyReplicas: 1
