include *.rst
include linking_ext/readme.rst
include *.txt
include cdilinking/cdilinker/linker/sort_script_template.txt

include requirements/base.txt
include requirements/test.txt

include cdilinking/cdilinker.egg-info/top_level.txt
include cdilinking/test/linking/levenshtein/readme.txt
include cdilinking/test/dedup/combination/readme.txt
include cdilinking/test/dedup/soundex/readme.txt


include *.json
include *.ini
include *.csv

include cdilinking/cdilinker/config/proof.ini


include cdilinking/test/linking/combination/jtst_deduped.csv
include cdilinking/test/linking/combination/educ_deduped.csv
include cdilinking/test/linking/combination/results1_linked_data.csv
include cdilinking/test/linking/combination/results1_matched_not_linked.csv
include cdilinking/test/linking/levenshtein/input_1.csv
include cdilinking/test/linking/levenshtein/input_2.csv
include cdilinking/test/linking/levenshtein/results1_linked_data.csv
include cdilinking/test/linking/levenshtein/results1_matched_not_linked.csv
include cdilinking/test/dedup/combination/test1.csv
include cdilinking/test/dedup/combination/results1.csv
include cdilinking/test/dedup/soundex/test1.csv
include  cdilinking/test/dedup/soundex/results1.csv
include cdilinking/test/dedup/levenshtein/test1.csv
include cdilinking/test/dedup/levenshtein/results1.csv
include cdilinking/test/cdilinker/data/jtst_deduped.csv
include cdilinking/test/cdilinker/data/test_jtst_dedup.csv
include cdilinking/test/cdilinker/data/educ_deduped.csv
include linking_ext/bcgov_linkext/nicknames.csv
include cdilinking/test/linking/combination/test1.json
include  cdilinking/test/linking/levenshtein/test1.json
include  cdilinking/test/dedup/combination/test1.json
include  cdilinking/test/dedup/soundex/test1.json
include  cdilinking/test/dedup/levenshtein/test1.json
include  cdilinking/test/cdilinker/data/test_jtst_educ_linking.json
include  cdilinking/test/cdilinker/data/test_jtst_dedup.json
