---
db_user: postgres
db_host: http://postgresql2-linking-project-dev-2-1-0.10.0.75.2.xip.io
db_port: 5432
db_service: postgresql2
celery_as_root: true
celery_broker_url: redis://redis:6379/0
django_settings: config.settings.local
django_secret_key: e(q8huau(-+qz6oi9!k62#_+t61n(*7daz7vmv2439ns1+2=g^
django_allowed_host: .localhost
django_email_backend: django.core.mail.backends.filebased.EmailBackend
django_email_file_path: /tmp/django-email-dev
